.remove-btn{
    margin-right: 0.5rem;
}

.item-fade-enter{
    opacity: 0.01;
}

.item-fade-enter-active{
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.item-fade-exit{
    opacity: 1;
}

.item-fade-exit-active{
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}